
<div class="copyright py-sm-5 py-4 text-center">
    <div class="container">
        <p class="copy-footer-29"> 2022, All rights reserved | Design by <a
                href="#">6sense Software Solution Pvt. Ltd.</a></p>
    </div>
</div>
